html
  head
    title Zataka
    script(src="files/jquery.js")
    script(src="files/bits.js")
    script(src="files/jquery.js")
    script(src="files/source.js")
    link(rel="stylesheet", type="text/css", href="files/css/grid.css")
    link(rel="stylesheet", type="text/css", href="files/css/style.css")

  body(onload="init();",
     onkeydown="onKeyDown(event);",
     onkeyup="onKeyUp(event);")
  .row
      .column.grid_14#canvas
        canvas#renderer(width="800", height="600")
      .column.grid_2#menu
        .row
          .column.grid_2
            button(type="button", onclick="startGame();") Start
            button(type="button", onclick="joinGame();") Join
        .row
          .column.grid_2
            p Player name
              input(type="text", name="name").text#name
        .row
          .column.grid_2#colors
